@{
    ViewData["Title"] = "Cadastro de fornecedores";
}
<link rel="stylesheet" href="~/css/custom.css">


<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Cadastro de Fornecedores</h1>
        <a asp-controller="Fornecedor" asp-action="Create" class="btn btn-success btn-lg mt-3">Cadastrar fornecedores</a>
        <a asp-controller="Fornecedor" class="btn btn-primary btn-lg mt-3">Fornecedores cadastrados</a>
    </div>
</div>
